.register-memory-container{
    width: 100%;
    height: 337px;
    overflow: scroll;
    border: 1px solid #9f9f9f;
    display: inline-block;
    z-index: 2;
}

#register-memory-table {
    width: 100%;
    font-family: monospace;
    border-collapse: collapse;
    color: #4d4d4d;

}

#register-memory-table td {
    border: 1px solid #9f9f9f;
}

/* Rows */
#register-memory-table tr {
    font-size: 13px;
    line-height: 5px;
    height: 20px;
    text-align: center;
}

#reg-name-cell {
    width: 20%;
}

#mem-address-cell {
    width: 50%;
}

#register-memory-table tr:first-child td {
    border-top: 0;
}

#register-memory-table tr td:first-child {
    border-left: 0;
}

#register-memory-table tr td:last-child {
    border-right: 0;
}
