.editor-wrapper {
    height: 467px;
    border: 1px solid #9f9f9f;
}

#code-feedback {
    width: 100%;
    height: 80%;
    overflow: auto;
    resize: none;
    color: #822;
    font-size: 14px;
}

.pipeline-button-container {
    padding-top: 3%;
}

#pipeline-instructions-button {
    font-family: Tahoma, Geneva, sans-serif;
    width: 200px;
    height: 45px;
    background-color: #83B3B3;
    color: white;
    border-radius: 4px;
    transition-duration: 0.4s;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    border: none;
}

#pipeline-instructions-button:focus {
    outline: #76A1A1;
}

#pipeline-instructions-button:hover {
    background-color: #567575;
    color: white;
}

#pipeline-instructions-button:active {
    transform: scale(0.8);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

.info-button-container {
    text-align: center;
    justify-content: center;
    display: flex;
    align-self: flex-end;
    padding-bottom: 5px;
}

#info-button {
    background-color: #B3B3B3;
    border: none;
    color: white;
    height: 22px;
    width: 22px;
    font-family: Tahoma, Geneva, sans-serif;
    outline: white;
    border-radius: 50%;
}

#info-button:hover {
    background-color: #808080;
}