.solver-switch-container {
    width: 60px;
}

/* Most code below has been copied from here: https://www.w3schools.com/howto/howto_css_switch.asp */

/* The switch - the box around the slider */
.switch.round {
    width: 85%;
    height: 30px;
}

input:checked + .slider.round:before {
    transform: translateX(94%);
}

.slider.round {
    background-color: #a1d0d0;
    border-radius: 30px;
}

.slider.round:before {
    height: 23px;
    width: 23px;
    border-radius: 50%;
    left: 6%;
}

.solver-switch-container {
    float: left;
}
