
.editor-container {
    grid-area: editor-container;
}

.pipeline-button-container {
    grid-area: pipeline-button-container;
}

.code-feedback-container {
    grid-area: code-feedback-container;
}

.pipeline-container {
    grid-area: pipeline-container;
    /*background-color: #845dc4;*/
}

.hazard-feedback-container {
    grid-area: hazard-feedback-container;
    background-color: #4D344A;
}

.show-hazards-button-container {
    grid-area: show-hazards-button-container;
    background-color: #4D344A;
}

.solve-hazards-container {
    grid-area: solve-hazards-container;
    background-color: #9999CC;
}

.register-memory-slider-container {
    grid-area: register-memory-slider-container;
    background-color: #845dc4;
}

.register-memory-container {
    grid-area: register-memory-container;
}

.editor-title-container {
    grid-area: editor-title-container;
    background-color: #4d4d4d;
}

.pipeline-title-container {
    grid-area: pipeline-title-container;
    background-color: #9c3328;
}

.register-memory-title-container {
    grid-area: register-memory-title-container;
}

[class*=-button] {
    justify-self: center;
}

[class*="-container"] {
    /*justify-self: center;*/
    /*align-self: center;*/
    /*padding: 2%;*/
    /*display:flex;*/
    /*align-items:center;*/
}

.grid {
    margin: 2%;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: 20% 40% 20% 20%;
    grid-template-rows: 10% 80px 20px 350px 10% 10% 20%;
    grid-template-areas:
    "editor-title-container pipeline-title-container pipeline-title-container ."
    "editor-container pipeline-container pipeline-container register-memory-title-container"
    "editor-container pipeline-container pipeline-container register-memory-slider-container"
    "editor-container pipeline-container pipeline-container register-memory-container"
    "editor-container hazard-feedback-container solve-hazards-container ."
    "pipeline-button-container . . ."
    "code-feedback-container . . ."
}