
.editor-container {
    grid-area: editor-container;
}

.pipeline-button-container {
    grid-area: pipeline-button-container;
}

.code-feedback-container {
    grid-area: code-feedback-container;
}

.pipeline-container {
    grid-area: pipeline-container;
}

.hazard-feedback-container {
    grid-area: hazard-feedback-container;
}

.show-hazards-button-container {
    grid-area: show-hazards-button-container;
}

.solve-hazards-container {
    grid-area: solve-hazards-container;
}

.register-memory-slider-container {
    grid-area: register-memory-slider-container;
}

.register-memory-container {
    grid-area: register-memory-container;
}

.editor-title-container {
    grid-area: editor-title-container;
}

.pipeline-title-container {
    grid-area: pipeline-title-container;
}

.register-memory-title-container {
    grid-area: register-memory-title-container;
}

[class*=-button] {
    justify-self: center;
}

[class*="-container"] {
    /*justify-self: center;*/
    /*align-self: center;*/
    /*padding: 2%;*/
    /*display:flex;*/
    /*align-items:center;*/
}

.grid {
    margin: 2%;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: 20% 580px 236px 17%;
    grid-template-rows: 6% 4% 80px 20px 350px 10% 30%;
    grid-template-areas:
    ". . . ."
    "editor-title-container pipeline-title-container pipeline-title-container ."
    "editor-container pipeline-container pipeline-container register-memory-title-container"
    "editor-container pipeline-container pipeline-container register-memory-slider-container"
    "editor-container pipeline-container pipeline-container register-memory-container"
    "pipeline-button-container hazard-feedback-container solve-hazards-container ."
    "code-feedback-container . . ."
}