<!DOCTYPE html>
<html>
    <head>
        <title>Pipeline simulator</title>

<!--        jQuery-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<!--        my js files related to assembly editor-->
        <script type="text/javascript" src="../lib/assemblyError.js"></script>
        <script type="text/javascript" src="../lib/assemblyParser.js"></script>
        <script type="text/javascript" src="../lib/assemblyCleaner.js"></script>
        <script type="text/javascript" src="../lib/assemblyInterpreter.js"></script>
        <script type="text/javascript" src="../lib/exceptions/infiniteLoopException.js"></script>

<!--        my js files related to pipeline table-->
        <script type="text/javascript" src="../lib/controlHazardHandler.js"></script>
        <script type="text/javascript" src="../lib/dataHazardHandler.js"></script>
        <script type="text/javascript" src="../lib/hazardDetector.js"></script>
        <script type="text/javascript" src="../lib/hazardSolver.js"></script>
        <script type="text/javascript" src="../lib/pipelineTable.js"></script>

<!--        my js files with jQuery code-->
        <script type="text/javascript" src="../lib/jq-assemblyEditor.js"></script>
        <script type="text/javascript" src="../lib/jq-pipeline.js"></script>
        <script type="text/javascript" src="../lib/jq-hazardSwitches.js"></script>

<!--        my css files -->
        <link rel="stylesheet" href="base.css">
        <link rel="stylesheet" href="editor.css">
        <link rel="stylesheet" href="pipeline.css">
        <link rel="stylesheet" href="buttons.css">
        <script src="../jquery.line.js"></script>

<!--        Bootstrap-->
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--        Codemirror-->
        <script type="text/javascript" src="../codemirror/lib/codemirror.js"></script>
        <link rel="stylesheet" href="../codemirror/lib/codemirror.css">
        <script type="text/javascript" src="../codemirror/mode/verilog/verilog.js"></script>
        <script type="text/javascript" src="../codemirror/theme/eclipse.css"></script>

<!--        DataTables-->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
        <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

    </head>

    <style>

    </style>

    <body>

        <div class="grid">

            <div class="editor-container">
                <div class="editor-wrapper">
                    <textarea id="editor-textarea"></textarea>
                </div>
            </div>

            <div class="pipeline-button-container">
                <button id="pipeline-instructions-button">Pipeline instructions</button>
            </div>

            <div class="code-feedback-container">
                <textarea id="code-feedback" disabled="true"></textarea>

            </div>

            <div class="pipeline-container">
                <div class="table-container">
                    <div class="table-wrapper"></div>
                </div>
            </div>

            <div class="hazard-feedback-container">
                <textarea id="hazard-feedback" disabled="true"></textarea>
            </div>

            <div class="show-hazards-button-container">
                <button class="button" id="show-hazards-button">Show hazards</button>
            </div>

            <div class="data-hazard-button-container">
                <form method="post" action="/Tests/Post/">
                    <fieldset>
                        <input type="checkbox" id="solve-data-hazards" onclick="checkBoxClicked()">Solve data hazards<br>
                        <input type="checkbox" id="solve-control-hazards" onclick="checkBoxClicked()">Solve control hazards<br>
                    </fieldset>
                </form>
            </div>

<!--            <div class="data-hazard-button-container">-->
<!--                <label class="solve-data-hazards">-->
<!--                    <input class="switch-input" type="checkbox" />-->
<!--                    <span class="switch-label" data-on="Data hazards solved" data-off="Solve data hazards"></span>-->
<!--                    <span class="switch-handle"></span>-->
<!--                </label>-->
<!--            </div>-->

<!--            <div class="control-hazard-button-container">-->
<!--                <label class="solve-control-hazards">-->
<!--                    <input class="switch-input" type="checkbox" />-->
<!--                    <span class="switch-label" data-on="Control hazards solved" data-off="Solve control hazards"></span>-->
<!--                    <span class="switch-handle"></span>-->
<!--                </label>-->
<!--            </div>-->

<!--            <div class="data-hazard-button-container">-->
<!--                <button class="button" id="solve-data-hazards">Solve data hazards</button>-->
<!--            </div>-->

<!--            <div class="control-hazard-button-container">-->
<!--                <button class="button" id="solve-control-hazards">Solve control hazards</button>-->
<!--            </div>-->

            <div class="register-memory-container">
            </div>

            <div class="editor-title-container">
            </div>

            <div class="pipeline-title-container">
            </div>

        </div>

    </body>
</html>