.table-container {
    width: 780px;
    height: 450px;
    overflow: scroll;
    border: 1px solid #5c6773;
    display: inline-block;
    position: absolute;
    z-index: 0;
}

.table-wrapper {
    position: absolute;
    table-layout: fixed;
}

/*tbody {*/
/*    !*width: 468px;*!*/
/*    !*height: 81px;*!*/
/*    position: absolute;*/
/*    table-layout: fixed;*/
/*}*/

#pipeline-table {
    font-family: Palatino, 'Palatino Linotype', serif;
    border-collapse: separate;
    border-spacing:0 8px;
    table-layout: fixed;
    text-align: center;
    position: absolute;
    border: none;
}

#forwarding-lines {
    position: relative;
}

/* Header */
#pipeline-table thead th {
    width: 780px;
    font-size: 13px;
    font-weight: bold;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 0;
    line-height: 40px;
    padding: 0px;
}

/* Rows */
#pipeline-table tr {
    font-size: 9px;
    line-height: 5px;
    padding: 0px;
    margin: 0px;
    border-spacing: 0px;
}

/* Clock cycle columns */
#pipeline-table tr th:nth-child(odd){
    width:40px;
}

/* In-between clock cycle columns */
#pipeline-table tr th:nth-child(even){
    width: 30px;
    padding: 0px;
    margin: 0px;
    border-spacing: 0px;
}

/* Pipeline stage cells */
.stage-cell {
    border: 1px solid #5c6773;
    padding: 0px;
    margin: 0px;
    border-spacing: 0px;
}

/* Stall and flush cells */
#stall-cell {
    padding: 0px;
    margin: 0px;
    border-spacing: 0px;
}

#flush-cell {
    padding: 0px;
    margin: 0px;
    border-spacing: 0px;
}

/*img {*/
/*    padding: 0px;*/
/*    margin: 0px;*/
/*    border-spacing: 0px;*/
/*    !*width: 3px;*!*/
/*}*/


