.table-container {
    width: 660px;
    height: 467px;
    overflow: scroll;
    display: inline-block;
    position: absolute;
    border: 1px solid #9f9f9f;
    z-index: 0;
}

.table-wrapper {
    position: absolute;
    table-layout: fixed;
}

#pipeline-table {
    font-family: Palatino, 'Palatino Linotype', serif;
    border-collapse: separate;
    border-spacing:0 8px;
    table-layout: fixed;
    text-align: center;
    position: absolute;
    border: none;
    cursor: default;
}

#forwarding-lines {
    position: relative;
}

/* Rows */
#pipeline-table tbody tr {
    height: 23px;
    font-size: 60%;
    padding: 0;
    margin: 0;
    border-spacing: 0;
}

/* Header */
#pipeline-table thead th {
    height: 40px;
    font-size: 85%;
    font-weight: bold;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 0;
    padding: 0;
    border-bottom: 1px solid #9f9f9f;
}

/* Clock cycle columns */
#pipeline-table tr th:nth-child(odd){
    width: 40px;
    padding: 0;
    margin: 0;
    border-spacing: 0;
}

/* In-between clock cycle columns */
#pipeline-table tr th:nth-child(even){
    width: 30px;
    padding: 0;
    margin: 0;
    border-spacing: 0;
}

/* Clock cycle cells */
#pipeline-table thead tr th:nth-child(odd):hover {
    background-color: #E6E6E6;
    cursor:pointer;
}

/* Pipeline stage cells */
.stage-cell {
    color: #4d4d4d;
    border: 1px solid #9f9f9f;
    padding: 0;
    margin: 0;
    border-spacing: 0;
}

/* Stall cells */
#stall-cell {
    border: none;
    padding: 0;
    margin: 0;
    border-spacing: 0;
}

/* Flush cells */
#flush-cell {
    border: none;
    padding: 0;
    margin: 0;
    border-spacing: 0;
}




