.register-memory-title-container {
    font-family: Palatino, 'Palatino Linotype', serif;
    color: #3F7F7F;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 1.1em;
    cursor:pointer;
}

.register-title-container {
    padding-top: 3%;
    width: 115px;
    float: left;
}

.memory-title-container {
    padding-top: 7%;
    width: 115px;
    float: left;
}

.data-solver-text-container {
    font-family: Tahoma, Geneva, sans-serif;
    padding-top: 2%;
    font-size: 16px;
    float: left;
    height: 50%;
    color: #6A6A6A;
}

.control-solver-text-container {
    font-family: Tahoma, Geneva, sans-serif;
    padding-top: 2%;
    font-size: 16px;
    float: left;
    height: 50%;
    color: #6A6A6A;
}

.hazard-feedback-container {
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    line-height: 0.8em;
    padding-top: 2%;
    font-size: 18px;
    color: #6A6A6A;
}

#hazard-feedback {
}

#number-of-hazards {
    font-weight: bold;
}


