[class*="-title-container"] {
    font-family: Palatino, 'Palatino Linotype', serif;
    color: #3F7F7F;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.editor-title-container {
    cursor: default;
}

.pipeline-title-container {
    cursor: default;
}

.register-title-container {
    display: flex;
    align-self: flex-end;
    cursor:pointer;
}

.memory-title-container {
    display: flex;
    align-self: flex-end;
    cursor:pointer;
}

[class*="-hazards-container"] {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    color: #6A6A6A;
    cursor: default;
}

.data-solver-text-container {
    padding-top: 1%;
    height: 50%;
}

.control-solver-text-container {
    padding-top: 1%;
    height: 50%;
}

.hazard-feedback-container {
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    line-height: 0.8em;
    padding-top: 2%;
    font-size: 18px;
    color: #6A6A6A;
    cursor: default;
}

#number-of-hazards {
    font-weight: bold;
}

.pipeline-placeholder {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 35%;
    color: #9f9f9f;
}

.register-memory-placeholder {
    margin: 10%;
    text-align: center;
    padding-top: 25%;
    color: #9f9f9f;
}


