.register-memory-title-container {
    font-family: Palatino, 'Palatino Linotype', serif;
    color: #3F7F7F;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 1.1em;
    cursor:pointer;
}

.register-title-container {
    padding-top: 3%;
    width: 115px;
    float: left;
}

.memory-title-container {
    padding-top: 7%;
    width: 115px;
    float: left;
}


